body{
	background-image: url(assets/kwarqslogo.png);

	background-repeat: repeat;
}

#timer {
	position: absolute;
	height: 80px;
	width: 10%;
	background-color: white;
	top: -2%;
	left: 45%;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	display: block;
}

score{
	position: 

