
#doom {
    position: fixed;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 220px;
	width:350px;
	text-align: center;
}

#auto_chooser {
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 175px;
	width: 400px;
	outline: solid;
	outline-width: 2;
	outline-color: black;
}

#position_chooser {
	position: relative;	
	height:50px;
	width: 400px;
	outline: solid;
	outline-width: 1px;
	outline-color: black;
}

#position_chooser {
	position: relative;	
	height:50px;
	width: 400px;
	outline: solid;
	outline-width: 1px;
	outline-color: black;
}

#left_switch_chooser {
	position: relative;
	top: 1px;
	height:50px;
	width: 400px;
	outline: solid;
	outline-width: 1px;
	outline-color: black;
}

#right_switch_chooser {
	position:relative;
	height:50px;
	width:400px;
	outline: solid;
	outline-width: 1px;
	outline-color: black;
}

#right_switch_chooser {
	position:relative;
	height:50px;
	width:400px;
	outline: solid;
	outline-width: 1px;
	outline-color: black;
}


#camera_feed {
	position: fixed;
	left: 450px;
	height: 300px;
	width:400px;
	outline: solid;
}

#elevator_slider {
	position: fixed;
	right: 5%;
	top: 5%;
	height: 400px;
	width: 30px;
}

.slider {
	-webkit-appearance: slider-vertical;
    width: 20px;
    height: 200px;
	outline: solid;
	background: rgba(0,0,0,0);
	
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: black;
	width: 10px;
	height: 5px;
	cursor: pointer;
}

.slider::-moz-range-thumb{
	width:10px;
	height: 5px;
	cursor: pointer;
}
